*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body
{
    background-color: #DADFE8;
}
body::-webkit-scrollbar
{
    background-color: transparent;
    width:10px;    
}
body::-webkit-scrollbar-thumb
{
    border-radius: 20px;
    background:linear-gradient(18deg,greenyellow,#84D468,#376BF1);
}
#landing_page
{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

#green_el
{
    height: 100vh;
    width: 90vh;
    background-color: #84D468;
    position: absolute;
    top: -22%;
    right: -5%;
    transform: rotate(60deg);
    border-radius: 60px;
    z-index: -1;
}
.navbar
{
    display: flex;
    justify-content: space-around;
    /* background-color: blue; */
}
.navbar img
{
    /* background-color: aqua; */
    width: 9%;
}
.navbar #menu
{
    /* background-color: greenyellow; */
    display: flex;
    align-items: center;
}
.navbar #menu menu
{
    margin: 0 8%;
    font-size: 18px;
    cursor: pointer;
    transition: .1s linear;
}
.navbar #menu menu:hover
{
    transform: translateY(-10px);
}
.landing_content
{
    display: flex;
    justify-content: space-around;
    /* background-color: aquamarine; */
}
.landing_content .content
{
    position: relative;
    top: 50%;
    display: flex;
    flex-wrap: wrap;
    padding: 2.6vh;
    justify-content: center;
    flex-direction:column;
    /* background-color: blue; */
    width: 40%;
}
.landing_content .content h4
{
    font-weight: 300;
    font-size: 5vh;
    line-height: 1vh;
}
.landing_content .content h2
{
    font-weight: 500;
    font-size: 10vh;
    text-shadow: 1px 4px 2px rgb(50, 44, 44);
    margin-bottom: 5%;
}
.landing_content .content .btns
{
    position: relative;
    margin-top: 8%;
    display: flex;
    justify-content: center;
    /* background-color: aquamarine; */
}
.landing_content .content .btns #login,#signup
{
    height: 5vh;
    width: 14vh;
    padding: 12px;
    font-size: 16px;
    border-radius: 4vh;
    margin: 0 4%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 6px  black;
    transition: .2s linear;
}
#login
{
    color: aliceblue;
    background: #376BF1;
    border: 2px solid rgb(246, 246, 246);
}
#login:hover
{
    color: black;
    background: #fefeff;
    border: 2px solid #376BF1;
}
#signup:hover
{
    color: aliceblue;
    background: #376BF1;
    border: 2px solid rgb(246, 246, 246);
}

#Recently_added
{
    height: 70vh;
    background-image: url('https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwallpapercave.com%2Fwp%2FgEo9XDp.jpg&f=1&nofb=1&ipt=ec55a90a1bd1a70792bcd87d76c7a5f3a5481af03418cf6621a03ba4d268e2a3&ipo=images');
    image-rendering: optimizeSpeed;
}
#Recently_added .items
{
    position: relative;
    top: 50%;
    transform: translate(0,-50%);    
    height: 400px;
    width: auto;
    background-color: rgba(0, 0, 0, 0.604);
    display: flex;
    justify-content: center;
    align-items: center;
}
#Recently_added .items .item_card
{
    height: 300px;
    width: 400px;
    background-color: rgba(127, 255, 212, 0.79);
    margin: 12px;
    border-radius: 20px;
}
footer
{
    position: relative;
    height: 30vh;
    background-color: #376cf1c3;
}